<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Utah's Premier Triathlon Focused Bike Shop</h1>
      <hr />
      <p>
        Here at The Hive, we love bikes, and we have you covered for all your
        bike and equipment needs. We are triathlon-focused, but we cover your
        needs from mountain to gravel to road and everything in between.
      </p>
      <a href="#contact" class="btn btn-primary btn-xl page-scroll"
        >Get In Touch</a
      >
    </div>
  </div>
</header>
